* {
    margin: 10;
    padding: 10;
    background-color: #e4e4e4;
}

body {
    margin: 10%;
    padding: 2%;
    margin-top: 0%;
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
}

nav a:hover {
    color: #ef0a0a;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: 20px;
}

th,td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
}

th {
    background-color: #847d7d;
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: normal;
    word-spacing: normal;
}

tfoot {
    font-weight: bold;
    background-color: #ddd;
}

form {
    margin: 20px;
    width: 300px;
}

#age {
    width: 160px;
}

.title {
    color: rgba(255, 20, 100, 1);
}

label {
    display: inline-block;
    width: 70px;
    font-weight: bold;
    text-align: left;
}

input {
    border: 2px solid black;
    margin-left: 0%;
    padding: 7px;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
    font-weight: bold;
}

button:hover {
    background-color: #726e6e;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 40px;
    width: fit-content;
}

.box {
    border: 2px solid black;
    width: 100px;
    height: 50px;
    padding: 20px;
    margin: 20px;
}

.container1 {
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 40px;
    
    align-items: center;
    justify-content: center;
}
.box1 {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    padding: 20px;
    margin: 20px;
}